<!-- Footer -->
<footer class="main-footer">
<div class="container">
    <div class="pull-right hidden-xs">
    <ul class="list-inline text-center">
        <li>
            <a target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
        </li>
        {% if site.twitter_username %}
        <li>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
        </li>
        {% endif %}
        {% if site.facebook_username %}
        <li>
            <a target="_blank" href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook"></i></a>
        </li>
        {% endif %}
        {% if site.github_username %}
        <li>
            <a target="_blank" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
        </li>
        {% endif %}
    </ul>
    </div>
    <strong>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</strong> All rights reserved.
</div><!-- /.container -->
</footer>
