{% assign materializeCss = "/assets/components/materialize/dist/css/materialize.min.css" %}
{% assign fontAwesomeCss = "/assets/components/components-font-awesome/css/font-awesome.min.css" %}
{% assign syntaxCss = "/assets/css/syntax.css" %}
{% assign customCss = "/assets/css/custom.css" %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <!-- Materialize 3.3.5 -->
    <link rel="stylesheet" href="{{ materializeCss | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ fontAwesomeCss | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ syntaxCss | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ customCss | prepend: site.baseurl }}">
