<header>
    <nav class="navbar-fixed white">
        <div class="nav-wrapper">
            <a class="brand-logo black-text"
               href="{{ site.baseurl }}/">{{ site.title }}</a>
            <ul class="right hide-on-med-and-down">
                {% include nav.html %}
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="mdi-navigation-menu"></i></a>
        </div>
        <div class="divider"></div>
    </nav>
    <ul id="slide-out" class="side-nav">
        {% include nav.html %}
    </ul>
</header>