body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-size: 1.8em !important;
    padding-left: 16px !important;
    font-weight: 300;
    text-transform: uppercase;
}

nav ul a {
    color: #000000;
}