---
layout: default
---

<!-- Full Width Column -->
      <div class="content-wrapper">
        <div class="container">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              PAGE
              <small>Example 2.0</small>
            </h1>
            
          </section>

          <!-- Main content -->
          <section class="content">
            {{content}}
          </section><!-- /.content -->
        </div><!-- /.container -->
      </div><!-- /.content-wrapper -->